<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Sending data </title>
    <script>
        function getPassword() {
            return 'qwerty1234'
        }
    </script>

</head>

<body>

    <!-- using form -->
    <!-- <form>
        <input type="email" name="email" placeholder="Enter Email" />
        <br>
        <input type="password" name="pass" placeholder="Enter Password" />

        <button hx-post="http://localhost:1330/echopayload" hx-target="#response">
            Submit
        </button>
    </form> -->


    <!-- using json -->
    <!-- <button hx-post="http://localhost:1330/echopayload" hx-target="#response"
        hx-vals='js:{"email": "ytrewq@email.com", "pass": getPassword()}'>
        Submit
    </button> -->

    <button hx-post="http://localhost:1330/echopayload" hx-target="#response" hx-include="#emailResponse">
        submit
    </button>

    <div id="response"></div>

    <input type="email" name="email" id="emailResponse">

</body>

</html>