<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Using special event </title>
    <style>
        #scrollme {
            margin-top: 50em;
            height: 20em;
            width: 20em;
            color: #202020;
            background-color: #E0BBE4;
        }
    </style>
</head>

<body>
    <!-- <div hx-get="http://localhost:1330/" hx-target="#response" hx-trigger="load delay:3s">
        Fire as the page loads
    </div> -->

    <div hx-get="http://localhost:1330/" hx-target="#response" hx-trigger="intersect threshold:0.1 delay:1s"
        id="scrollme">
        Fire when I am revealed
    </div>


    <div id="response"></div>

</body>

</html>